.navbar{
	padding: 1.2rem;
}


/*content-show start*/
.carousel-inner img{
	width: 100%;
	height: 100%;
}

.list-group{
	height: 100%;
	margin-top: auto;
}
.show-left-col{
	height: 100%;
	margin: auto;
}
.show-mid-col{
	height: 100%;
	margin: auto;
}
.show-right-col{
	height: 100%;
	margin: auto;
}
/*content-show end*/

.breadcrumb-main {
	background-color: #fff;
}

.nomargin{
	margin-top: 0px;
}

.break{
	line-break: normal;
}

.jmb{
	margin-bottom: 0px;
}

.nav-brand-image{
	padding-right: 1vw;
}
.nav-brand-text{
	padding-right: 5vw;
	white-space: nowrap;
}

.head{
	position: relative;
	z-index: 99;
}